# ESERCIZIO 3: Precipitazioni 15/10
* * *

+ **Importo le librerie**

In [1]:
import numpy as np
import pandas as pd

+ **Leggere il dataset creando un proprio dataframe (precip). Visualizzare il dataframe**

In [2]:
precip = pd.read_csv(r"C:/Users/Utente/Desktop/data/precipitazioni.csv")
precip.head()

   _id  Tipo-Zone  Id Sensore             Data-Ora  Valore Cumulato
0    1      Brera       19373  2018-01-01T00:00:00              0.2
1    2     Juvara        5908  2018-01-01T00:00:00              0.0
2    3   Lambrate        2006  2018-01-01T00:00:00              0.0
3    4  Zavattari        9341  2018-01-01T00:00:00              0.4
4    5  Rosellini       14121  2018-01-01T00:00:00              0.0

+ **Rinominare le colonne del dataframe per avere nomi più semplici da usare (ad esempio senza spazi, più corti)**

In [3]:
precip = precip.rename(columns= {'Tipo-Zone' : 'zona', 'Id Sensore' : 'id_sens', 'Data-Ora':'data_ora', 'Valore Cumulato' : 'val_cum'})
precip.head()

   _id       zona  id_sens             data_ora  val_cum
0    1      Brera    19373  2018-01-01T00:00:00      0.2
1    2     Juvara     5908  2018-01-01T00:00:00      0.0
2    3   Lambrate     2006  2018-01-01T00:00:00      0.0
3    4  Zavattari     9341  2018-01-01T00:00:00      0.4
4    5  Rosellini    14121  2018-01-01T00:00:00      0.0

+ **Creare una mask di valori booleani rispetto alla condizione se un certo giorno è stato piovoso oppure no**

In [4]:
print("Giorni piovosi \n", precip['val_cum']> 0.0)

Giorni piovosi
 0         True
1        False
2        False
3         True
4        False
         ...
43680    False
43681    False
43682    False
43683    False
43684    False
Name: val_cum, Length: 43685, dtype: bool

+ **Ora calcoliamo alcune statistiche (le stesse dell’esempio del libro: media, mediana, max, min) per due casi:**
1. **rispetto a tutto il data frame precip (giorni piovosi e non piovosi)**
2. **solo rispetto ai giorni di pioggia**

In [5]:
print("Media di precipitazioni fra tutti i giorni del 2018 \n", np.mean(precip['val_cum'])) #1
print("Mediana di precipitazioni fra tutti i giorni del 2018 \n", np.median(precip['val_cum']))
print("Massimo di precipitazioni fra tutti i giorni del 2018 \n ", np.max(precip['val_cum']))
print("Minimo di precipitazioni fra tutti i giorni del 2018 \n", np.min(precip['val_cum']))

Media di precipitazioni fra tutti i giorni del 2018
 0.10222748155366658
Mediana di precipitazioni fra tutti i giorni del 2018
 nan
Massimo di precipitazioni fra tutti i giorni del 2018
  28.8
Minimo di precipitazioni fra tutti i giorni del 2018
 0.0

In [6]:
Giorni_piovosi = precip.loc[(precip['val_cum']> 0)] #2
print("Media di precipitazioni fra i giorni piovosi del 2018 \n", np.mean(Giorni_piovosi['val_cum']))
print("Mediana di precipitazioni fra i giorni piovosi del 2018 \n", np.median(Giorni_piovosi['val_cum']))
print("Massimo di precipitazioni fra i giorni piovosi del 2018 \n ", np.max(Giorni_piovosi['val_cum']))
print("Minimo di precipitazioni fra i giorni piovosi del 2018 \n", np.min(Giorni_piovosi['val_cum']))

Media di precipitazioni fra i giorni piovosi del 2018
 1.2523592950539857
Mediana di precipitazioni fra i giorni piovosi del 2018
 0.6
Massimo di precipitazioni fra i giorni piovosi del 2018
  28.8
Minimo di precipitazioni fra i giorni piovosi del 2018
 0.2

+ **Perché usando giorni piovosi e non piovosi, il risultato della mediana è nan?** Il risultato è nan perché si trova in una posizione centrale.
+ **Cosa vuol dire nan?** Nan significa valore mancante (missing), nei calcoli viene considerato come zero.
+ **Differenza tra media e mediana?** La media è dato dalla somma di tutti i dati diviso il numero di casi analizzati. La mediana, al contrario, è il numero che compare in posizione centrale quando i dati vengono strutturati in ordine crescente.
+ **Perché invece utilizzando solo i giorni piovosi la media cambia?** Nei giorni piovosi non è nan perché si ocnsiderano i valori oltre lo zero.
+ **Perché la mediana in questo caso è 0.6 e non nan?** Uguale a sopra.

+ **Trovare una funzione ed eseguire il corrispondente comando che ci permetta di verificare se nella colonna valore (“valore” è come ho rinominato io la colonna con la piovosità del giorno) ci sono dei nan (questa funzione deve soltanto dirci se ci sono o non ci sono, rispetto la colonna però)**

In [7]:
print("Verificare se ci sono valori nan \n", precip['val_cum'].isnull().values.any())

Verificare se ci sono valori nan
 True

+ **Trovare tutte le righe del dataframe precip che contengono un nan.**

In [8]:
precip[precip.isna().any (axis=1)]

         _id       zona  id_sens             data_ora  val_cum
43        44  Zavattari     9341  2018-01-01T08:00:00      NaN
153      154  Zavattari     9341  2018-02-01T06:00:00      NaN
248      249  Zavattari     9341  2018-03-01T01:00:00      NaN
368      369  Zavattari     9341  2018-04-01T01:00:00      NaN
488      489  Zavattari     9341  2018-05-01T01:00:00      NaN
...      ...        ...      ...                  ...      ...
42966  42967     Juvara     5908  2018-12-25T01:00:00      NaN
42971  42972     Juvara     5908  2018-12-25T02:00:00      NaN
42976  42977     Juvara     5908  2018-12-25T03:00:00      NaN
42981  42982     Juvara     5908  2018-12-25T04:00:00      NaN
42986  42987     Juvara     5908  2018-12-25T05:00:00      NaN

[587 rows x 5 columns]

+ **Rimuovere da precip tutte le righe che hanno nan nella colonna valore e salvare il risultato come nuovo dataframe df1 (quindi ora avrò due dataframe: precip che contiene anche i nan; df1 che non contiene i nan)**

In [9]:
df1 = precip.dropna()
df1.head()

   _id       zona  id_sens             data_ora  val_cum
0    1      Brera    19373  2018-01-01T00:00:00      0.2
1    2     Juvara     5908  2018-01-01T00:00:00      0.0
2    3   Lambrate     2006  2018-01-01T00:00:00      0.0
3    4  Zavattari     9341  2018-01-01T00:00:00      0.4
4    5  Rosellini    14121  2018-01-01T00:00:00      0.0

+ **Calcolare di nuovo la mediana sul dataframe df1, che ha giorni di pioggia e non piovosi ma non ha più i nan**

In [10]:
print("Mediana di precipitazioni fra tutti i giorni del 2018 \n", np.median(df1['val_cum']))

Mediana di precipitazioni fra tutti i giorni del 2018
 0.0

+ **Ora vogliamo sapere: quanti giorni hanno avuto piovosità a 0.0, quanti a 0.1, a 0.2 etc. per tutti i valori presenti. Vogliamo anche sapere quanti giorni hanno nan come valore. Calcolare statistiche per i due gruppi separatamente (ad esempio quanti uomini e quante donne, altezza media degli uomini, altezza media delle donne)**

In [11]:
print("Giorni piovosità uguale a 0.0 \n", np.sum(precip['val_cum'] == 0.0))
print("Giorni di piovosità uguali a 0.1 \n", np.sum(precip['val_cum'] == 0.1))
print("Giorni di piovosità uguali a 0.2 \n", np.sum(precip['val_cum'] == 0.2))

Giorni piovosità uguale a 0.0
 39580
Giorni di piovosità uguali a 0.1
 0
Giorni di piovosità uguali a 0.2
 1075

In [12]:
print("Quanti giorni hanno nan come valore \n", np.nansum(precip['val_cum']))

Quanti giorni hanno nan come valore
 4405.8

In [13]:
precip.groupby(precip['val_cum']).count() #oppure con group_by

           _id   zona  id_sens  data_ora
val_cum
0.0      39580  39580    39580     39580
0.2       1075   1075     1075      1075
0.4        480    480      480       480
0.6        326    326      326       326
0.8        291    291      291       291
...        ...    ...      ...       ...
18.4         1      1        1         1
20.6         1      1        1         1
24.0         1      1        1         1
26.2         1      1        1         1
28.8         1      1        1         1

[65 rows x 4 columns]

+ **Domanda: E i nan? Come si contano le righe che hanno nan nella colonna valore**

In [14]:
precip['val_cum'].isna().sum()

587